.input-default {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;

  label {
    font-size: 1.231rem;
    color: #6e6b7b;
    margin-bottom: 5px;
  }

  input {
    height: 62px;
    padding: 18px 24px;
    border: 1px solid #eceaf3;
    border-radius: 18px;
    background-color: #ffffff;
    color: #464255;
    font-size: 1.076rem;

    &::placeholder {
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-size: 1.077rem;
      color: #A3A3A3;
    }
  }
}

.input-question {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;

  input {
    padding: 18px 24px;
    background: #ffffff;
    border: 2px solid $color-Topaz;
    border-radius: 18px;
    font-size: 1.846rem;
    color: #a3a3a3;

    &:hover,
    &:focus,
    &:focus-visible {
      color: #a3a3a3;
      border: 2px solid $color-Topaz-light;
    }
  }
}

.checkbox-question {
  position: relative;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked~.check-mark:after {
      display: block;
    }
  }

  /* Create a custom checkbox */
  .check-mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border: 3px solid #464255;
    border-radius: 4px;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      display: none;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 7px;
      height: 14px;
      border: solid #464255;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

.radio-button-question {
  position: relative;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    &:checked~.check-mark:after {
      display: block;
    }
  }

  /* Create a custom radio button */
  .check-mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border: 3px solid #212121;
    border-radius: 50%;

    &:after {
      content: '';
      position: absolute;
      display: none;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: #212121;
    }
  }
}

.date-picker-default {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;

  label {
    font-size: 1.231rem;
    color: #6e6b7b;
    margin-bottom: 5px;
  }

  input {
    padding: 18px 24px;
    border: 1px solid #eceaf3;
    border-radius: 18px;
    background-color: #ffffff;
    color: #a3a3a3;
    font-size: 1.076rem;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='23' viewBox='0 0 22 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 22.5002H18C18.9283 22.5002 19.8185 22.1314 20.4749 21.475C21.1313 20.8187 21.5 19.9284 21.5 19.0002V5.00016C21.5 4.07191 21.1313 3.18167 20.4749 2.52529C19.8185 1.86891 18.9283 1.50016 18 1.50016H16.8333C16.8333 1.19074 16.7104 0.893997 16.4916 0.675205C16.2728 0.456412 15.9761 0.333496 15.6667 0.333496C15.3572 0.333496 15.0605 0.456412 14.8417 0.675205C14.6229 0.893997 14.5 1.19074 14.5 1.50016H7.5C7.5 1.19074 7.37708 0.893997 7.15829 0.675205C6.9395 0.456412 6.64275 0.333496 6.33333 0.333496C6.02391 0.333496 5.72717 0.456412 5.50838 0.675205C5.28958 0.893997 5.16667 1.19074 5.16667 1.50016H4C3.07174 1.50016 2.1815 1.86891 1.52513 2.52529C0.868749 3.18167 0.5 4.07191 0.5 5.00016V19.0002C0.5 19.9284 0.868749 20.8187 1.52513 21.475C2.1815 22.1314 3.07174 22.5002 4 22.5002ZM2.83333 5.00016C2.83333 4.69074 2.95625 4.394 3.17504 4.17521C3.39383 3.95641 3.69058 3.8335 4 3.8335H5.16667V5.00016C5.16667 5.30958 5.28958 5.60633 5.50838 5.82512C5.72717 6.04391 6.02391 6.16683 6.33333 6.16683C6.64275 6.16683 6.9395 6.04391 7.15829 5.82512C7.37708 5.60633 7.5 5.30958 7.5 5.00016V3.8335H14.5V5.00016C14.5 5.30958 14.6229 5.60633 14.8417 5.82512C15.0605 6.04391 15.3572 6.16683 15.6667 6.16683C15.9761 6.16683 16.2728 6.04391 16.4916 5.82512C16.7104 5.60633 16.8333 5.30958 16.8333 5.00016V3.8335H18C18.3094 3.8335 18.6062 3.95641 18.825 4.17521C19.0438 4.394 19.1667 4.69074 19.1667 5.00016V8.50016H2.83333V5.00016ZM2.83333 10.8335H19.1667V19.0002C19.1667 19.3096 19.0438 19.6063 18.825 19.8251C18.6062 20.0439 18.3094 20.1668 18 20.1668H4C3.69058 20.1668 3.39383 20.0439 3.17504 19.8251C2.95625 19.6063 2.83333 19.3096 2.83333 19.0002V10.8335Z' fill='%236E6B7B'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 28px center;
    background-size: 21px 22px;
  }
}