$image-url: '../images';
.not-found {
  padding-top: 100px;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  top: 0;
  left: 0;
  background: #fff;
}


.background {
  background-image: url('#{$image-url}/backgroundNotFound.png');

}